global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "catchup_worker"
    metrics_path: "/metrics"
    static_configs:
      - targets:
        - 'localhost:3000'

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres-exporter:9187']
