services:
  catchup_worker:
    image: ghcr.io/endlessreform/searchhn-catchup-worker:canary
    environment:
      - DATABASE_URL=${DATABASE_URL}
    command: [ "catchup_worker", "--realtime" ]
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  prometheus:
    volumes:
      - ./prometheus-config/prometheus.prod.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
  # cron:
  #   image: alpine
  #   command: |
  #     /bin/sh -c '
  #     echo "0 3 * * * curl -X POST http://hn-exporter:8000/jobs" > /etc/crontabs/root;
  #     crond -f -d 8'
  #   depends_on:
  #     - hn-exporter
