name: Build catchup worker

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - "crates/catchup_worker/**"

env:
  CARGO_TERM_COLOR: always

jobs:
  release-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Appease Docker's moronic lowercase image name restriction for potentially uppercase usernames
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: "${{ github.repository_owner }}"

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./crates
          file: ./crates/catchup_worker/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.OWNER_LC }}/searchhn-catchup-worker:${{ github.sha }}
            ghcr.io/${{ env.OWNER_LC }}/searchhn-catchup-worker:canary
          cache-from: type=gha
          cache-to: type=gha,mode=max
